<h2>Por region</h2>
<hr>

<div class="row">
  <div class="col m-2 d-flex justify-content-around">
    <button
      *ngFor="let region of regions"
      (click)="searchRegion( region )"
      class="btn btn-outline-secondary">
      {{ region }}
    </button>
  </div>
</div>


<hr>

<div class="row">
  <div class="col">
    <!-- loading-->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <!-- table -->
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
